/Day_12/CURD/node_modules
/Day_7/Project_1/node_modules
/Day_7/Project_3/node_modules
/Day_7/Project_4/node_modules
/Day_8/node_modules
/Day_8/project_1/node_modules
/Day_8/project_3/node_modules
/Day_8/Test_2/node_modules
/Day_9/Project_1/node_modules
/Day_9/Project_2/node_modules
/Day_10/Project_2/node_modules
/Day_10/Project_3/node_modules
/Day_11/Project_1_mongoose/node_modules
/Day_12/CURD/node_modules
/Day_12/CURD/.env
/Day_13/node_modules